BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
DEPLOYER_PRIVATE_KEY=
NOVA_TREASURY=
NOVA_OWNER_PRIVATE_KEY=
NOVA_LIQUIDITY_WALLET=
NOVA_ECOSYSTEM_REWARDS_WALLET=
NOVA_TREASURY_OPERATIONS_WALLET=
NOVA_DEVELOPMENT_WALLET=
NOVA_COMMUNITY_GRANTS_WALLET=
NOVA_RESERVE_WALLET=
